<% if (errors) {%>
    <ul style="list-style-type: none; padding-left: 0;">
        <% errors.forEach(function(error) { %>
            <li style="color: #ff7f7f;">
                <%= error.msg %>
            </li>
            <% }); %>
    </ul>
    <% } %>