<% if (errors) {%>
    <ul>
        <% errors.forEach(function(error) { %>
            <li style="color: #ff7f7f;">
                <%= error.msg %>
            </li>
            <% }); %>
    </ul>
    <% } %>