<!DOCTYPE html>
<html>

<head>
    <title>Log In Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--reset css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-oHDEc8XedEprXRIK6zD5XcH1VR1wPQjkzD5k5yc6gq2iS1K4k3tK7Zk9g9CRzfl0B0X3kYyFhM5GcY7K0p0GzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!--responsive css-->
    <link rel="stylesheet" href="./stylesheets/responsive.css">
    <!--effect css-->
    <link rel="stylesheet" href="./stylesheets/effect.css">
</head>

<body class="vh-100 d-flex align-items-center flex-column " style="background-color: #121212;">
    <header class="mt-4 d-flex flex-row justify-content-between" style="width: 60%;">
        <a href="/"><img src="./img/logo_optimized.webp" class="rounded-circle" alt="logo" width="40" height="40"></a>
    </header>
    <main class=" text-white mt-3 pb-4" style="width:60%;">
        <h1>Log In</h1>
        <form action="/log-in" method="post">
            <% if (error && error.length> 0) { %>
                <div style="color: #ff7f7f; margin-bottom: 10px;">
                    <%= error[0] %>
                </div>
                <% } %>
                    <div class="mb-3">
                        <label for="username" class="mb-1 text-secondary"> Username</label>
                        <input type="text" id="username" class="form-control text-light" name="username"
                            style="width: 60%;max-width: 350px; background-color: #1E1E1E; outline: none; border: 0;">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="mb-1 text-secondary">Password</label>
                        <input type="password" id="password" class="form-control text-light" name="password"
                            style="width: 60%; max-width: 350px;background-color: #1E1E1E; outline: none; border: 0;">
                    </div>
                    <p class="text-secondary">Don't have an account? <a href="/sign-up"
                            style="color:#c6fbbb ;text-decoration: none;">Sign up</a></p>
                    <button class="btn green-btn rounded-3">Sign Up </button>
        </form>
    </main>
    <footer class="text-secondary d-flex justify-content-center mt-auto mb-1" style="width: 60%;">
        Made by @lamnhathunghuynh
    </footer>
</body>

</html>