/*Effects for buttons */
.btn.green-btn {
  background-color: #c6fbbb;
  transition: all 0.2s ease-in-out;
}

.btn.green-btn:hover {
  background-color: #b1f7a6 !important;
  transform: translateY(-2px);
}

.btn.green-btn:active {
  background-color: #9be98f !important;
  transform: translateY(0);
}

.delete-btn {
  transition: all 0.3s ease;
}

.delete-btn:hover {
  background-color: #dc3545 !important;
  color: white !important;
  border-color: #dc3545 !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);
}

.delete-btn:active {
  background-color: #bb2d3b !important;
  transform: translateY(0px) scale(0.95);
  box-shadow: 0 2px 4px rgba(220, 53, 69, 0.3);
}

/*Effects for links */
form a:hover,
#go-back-link:hover {
  text-decoration: underline !important;
}
nav a {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #6c757d 50%
  ) !important;
  background-size: 200% 100% !important;
  background-position: -100% !important;
  display: inline-block !important;
  padding: 5px 0 !important;
  position: relative !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  transition: all 0.3s ease-in-out !important;
}
nav a:before {
  content: "" !important;
  background: #54b3d6 !important;
  display: block !important;
  position: absolute !important;
  bottom: -3px !important;
  left: 0 !important;
  width: 0 !important;
  height: 3px !important;
  transition: all 0.3s ease-in-out !important;
}

nav a:hover {
  background-position: 0 !important;
}

nav a:hover::before {
  width: 100% !important;
}
/*Effect for placeholder in textarea*/
textarea::placeholder {
  color: #bbb !important;
}
