@media (max-width: 900px) {
  header,
  main,
  footer {
    width: 90% !important;
  }
}
@media (max-width: 500px) {
  main > div:nth-child(2) {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1rem;
  }
  main > div:nth-child(2) > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
